#formbox{
float: left;
padding: 20px;
border: 2px solid #999999;
     
}
#databox{
float: left;
width: 500px;
margin-left: 20px;
/*padding: 20px;*/
border: 2px solid #999999;
position: relative;
    
 
}
.grid { margin:1em auto; border-collapse:collapse }
.grid td {
cursor:pointer;
width:50px; height:50px;
border:1px solid #ccc;
font-size:0px;
moz-border-radius: 20px;
webkit-border-radius: 20px;
border-radius: 20px;

}
/*.grid td.unclicked {*/
td.unclicked {
background-color:yellow;
color:yellow;
}
/*.grid td.clicked {*/
td.clicked {
background-color:orange;
color:orange;
}